
## ‚ôªÔ∏è üìö Review / Questions [10 minutes]
1. Follow up questions and clarifications regarding regarding **notebooks, markdown, ChatBots, or `Python` code** previously introduced in the Sep06 TUT and Sep09 LEC 

> 1. We're continuing to dive into using **notebooks, markdown**, and `Python` as a tool: building comfort and capability working with **ChatBots** to leverage `Python` code is the objective of the current phase of the course...<br><br>
>
> 2. *Questions about [HW01](https://github.com/pointOfive/stat130chat130/blob/main/HW/STA130F24_HW01_DueSep12.ipynb) which was due yesterday (Thursday Sep12) should be asked in OH from 4-6PM ET Tuesday, Wednesday, and Thursday (see the [Quercus course homepage](https://q.utoronto.ca/courses/354091) for further details)*<br><br>
> 
> 3. *And same story, and even moreso for questions about [HW02](https://github.com/pointOfive/stat130chat130/blob/main/HW/STA130F24_HW02_DueSep19.ipynb) which was due next Thursday (Sep19) (e.g., regarding the "pre-lecture" questions...)*

In [13]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)

In [10]:
df.head()

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
0,2,admiral,Admiral,male,bird,1-27,cranky,Steep Hill,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,agent-s,Agent S,female,squirrel,7-2,peppy,DJ K.K.,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,agnes,Agnes,female,pig,4-21,uchi,K.K. House,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,al,Al,male,gorilla,10-18,lazy,Steep Hill,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,alfonso,Alfonso,male,alligator,6-9,lazy,Forest Life,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...

In [14]:
df.describe()

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [5]:
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

#### Use Titanic dataset

In [16]:
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

In [17]:
df.shape

(891, 15)

In [12]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [18]:
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

## üöß üèóÔ∏è Demo (using Jupyter Notebook and ChatBots) [50 minutes]


#### 1. **[35 of the 50 minutes]** Demonstrate (using a ChatBot to show and explain?) some traditional `python` coding structures

1. `tuple()`, `list()`, vs `dict()  # immutable and mutable "lists" vs key-value pairs`<br><br>
    
2. some `NumPy` functions:<br><br>
    
    1. `import numpy as np`
    2. `np.array([1,2,3]) # a faster "list"`
    3. `np.random.choice([1,2,3])`<br><br>
        
3. `for i in range(n):`, `for x in a_list:`, `for i,x in enumerate(a_list):`, and `print()`<br><br>
    
    1. `variable` as the last line of a "code cell" in a notebook "prints" the value
    2. but `print()` is needed inside `for` loop if you want to output something<br><br>
        
4. `if`/`else` conditional statements<br><br> 

    1. perhaps with `x in b_list`<br>or `i % 2 == 0` to treat evens/odds differently  (sort of like the infamous "FizzBuzz" problem that some people [can't complete](https://www.quora.com/On-average-what-is-the-proportion-of-applicants-that-cannot-pass-a-simple-FizzBuzz-test-based-on-your-personal-experience-or-on-facts) as part of a coding interview challenge)
    2. note the "similarity" to the `try-except` block structure when that's encountered in the code below since it's used there (despite being a "more advanced" 
        
#### 2. **[5 of the 50 minutes]** Reintroduce the [Monty Hall problem](https://github.com/pointOfive/stat130chat130/blob/main/CHATLOG/wk2/GPT/SLS/00001_gpt3p5_MonteHall_ProblemExplanation_v1.md) and see which of the coding structures above you recognize (or do not see) in the Monty Hall simulation code below

#### 3. **[10 of the 50 minutes]** Use any remaining time to start a demonstration of using a ChatBot to (a) understand what the code below is doing and (b) suggest an improved streamlined version of the `for` loop simulation code that might be easier to explain and understand
    
> ChatGPT version 3.5 [was very effective](https://github.com/pointOfive/stat130chat130/blob/main/CHATLOG/wk2/GPT/SLS/00003_gpt3p5_MonteHall_CodeDiscussion_v1.md) for (b), while Copilot was shockingly bad on a [first try](../CHATLOG/wk2/COP/SLS/00001_creative_MonteHall_CodeDiscussion_v1.md) but was able to do better [with some helpful guidance](https://github.com/pointOfive/stat130chat130/blob/main/CHATLOG/wk2/COP/SLS/00002_concise_MonteHall_CodeDiscussion_v2.md).

In [36]:
import numpy as np
np.array([1,2,3]) # a faster "list"
np.random.choice([1,2,3])

1

In [65]:
arr1 = np.array([1, 2, 3, 4])
arr1

array([1, 2, 3, 4])

In [38]:
import time

# Creating two large NumPy arrays
arr1 = np.arange(1000000)
arr2 = np.arange(1000000)

# Start time for NumPy arrays
start_time = time.time()

# Adding the arrays element-wise
result_array = arr1 + arr2

# End time for NumPy arrays
print("Time taken using NumPy arrays:", time.time() - start_time, "seconds")

Time taken using NumPy arrays: 0.0025947093963623047 seconds

In [39]:
# Creating two large lists
list1 = range(1000000)
list2 = range(1000000)

# Start time for Python lists
start_time = time.time()

# Adding the lists element-wise
result_list = [(x + y) for x, y in zip(list1, list2)]

# End time for Python lists
print("Time taken using Python lists:", time.time() - start_time, "seconds")

Time taken using Python lists: 0.049353837966918945 seconds

In [57]:
random_value = np.random.choice([1,2,3,4,5])
print(random_value)

2

In [70]:
i = 80

In [71]:
if i > 70:
    print("You passed the course")
else:
    print("You failed :(")

You passed the course

In [72]:

for i in range(1000):
    if i % 2 == 0:
        print("It's even")
    else:
        print("It's odd")

It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd
It's even
It's odd

In [ ]:
try:
    # checks if the code here has an error
except: 
    # solution to the error

# Simplified Version of the monty hall problem code

In [81]:
import numpy as np

# Set up initial parameters
reps = 1000000  # Number of repetitions
wins = 0  # Counter for wins

# Run the simulation
for _ in range(reps):
    # Randomly assign the winning door (1, 2, or 3)
    winning_door = np.random.choice([1, 2, 3])
    
    # Assume the player always chooses door 1
    player_choice = 1
    
    # The host reveals a goat door (not the player's choice and not the winning door)
    remaining_doors = [door for door in [1, 2, 3] if door != player_choice and door != winning_door]
    goat_door = np.random.choice(remaining_doors)
    
    # The player switches to the other remaining door
    switch_choice = [door for door in [1, 2, 3] if door != player_choice and door != goat_door][0]
    
    # Check if the switch choice is the winning door
    if switch_choice == winning_door:
        wins += 1

# Calculate and print the win probability from switching
print(f"Win probability by switching: {wins / reps}")

Win probability by switching: 0.666423

In [73]:
lst = [1,2,3]

In [76]:
lst = lst + [4]

In [77]:
lst

[1, 2, 3, 4, 4]

In [20]:
my_tuple = (1,2,3)

In [21]:
my_tuple = (4,5,6)

In [24]:
my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

In [22]:
my_tuple

(4, 5, 6)

In [25]:
my_list = [1,2,3]

In [27]:
my_list[0]

1

In [28]:
my_list[0] = 7

In [29]:
my_list

[7, 2, 3]

In [30]:
my_dictionary = {"key1":44, "key2":55}

In [31]:
my_dictionary["key1"]

44

In [32]:
my_dictionary["key1"] = 66

In [33]:
my_dictionary

{'key1': 66, 'key2': 55}

In [58]:
our_list = ["cat", "dog", "deer", "horse"]

In [60]:
for animal in our_list:
    print(animal)
    print("This one is an animal")

cat
This one is an animal
dog
This one is an animal
deer
This one is an animal
horse
This one is an animal

In [61]:
for i in range(1000):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999

In [62]:
range(1000)

range(0, 1000)

In [63]:
for idx, value in enumerate(our_list):
    print(idx)
    print(value)

0
cat
1
dog
2
deer
3
horse

In [2]:
10

10

In [3]:
3.5

3.5

In [4]:
"sta130"

'sta130'

In [6]:
True

True

In [8]:
["sta130", "mat137", "csc108"]

['sta130', 'mat137', 'csc108']

In [9]:
[True, False, True]

[True, False, True]

In [10]:
[1, "sta130", False]

[1, 'sta130', False]

In [11]:
{"a": 1234, "b":4356, "c":7865}

{'a': 1234, 'b': 4356, 'c': 7865}

In [15]:
(1, 2, 3) #tuple

(1, 2, 3)

In [13]:
[1, 2, 3] #list

[1, 2, 3]

In [18]:
class_list = ["sta130", "mat137", "csc108"]

In [21]:
class_list

['sta130', 'mat137', 'csc108']

In [24]:
class_list = class_list + ["psy100"]

In [25]:
class_list

['sta130', 'mat137', 'csc108', 'psy100']

In [26]:
class_list.append("mat240")

In [29]:
print(class_list)
x = 5

['sta130', 'mat137', 'csc108', 'psy100', 'mat240']

In [30]:
type(x)

int

In [31]:
type(class_list)

list

In [32]:
class_tuple = ('sta130', 'mat137', 'csc108', 'psy100', 'mat240')

In [33]:
class_tuple

('sta130', 'mat137', 'csc108', 'psy100', 'mat240')

In [34]:
class_list

['sta130', 'mat137', 'csc108', 'psy100', 'mat240']

In [ ]:
#Tuple -> Immutable
#List -> Mutable

In [37]:
class_list[0] = "eco100"

In [38]:
class_list

['eco100', 'mat137', 'csc108', 'psy100', 'mat240']

In [39]:
class_list[3]

'psy100'

In [40]:
class_tuple

('sta130', 'mat137', 'csc108', 'psy100', 'mat240')

In [42]:
len(class_list)

5

In [43]:
len(class_tuple)

5

In [44]:
class_tuple[3]

'psy100'

In [ ]:
#Loops -> For Loop

In [45]:
print(1)
print(2)
...
print(10)

1
2
10

In [ ]:
#for variable in range:
    #DO SOMETHING
    #variable = varaible + 1

In [51]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [60]:
#print all the classes in my class_list
for x in range(len(class_list)):
    print(x)
    print(class_list[x])

0
eco100
1
mat137
2
csc108
3
psy100
4
mat240

In [61]:
for c in class_list:
    print(c)

eco100
mat137
csc108
psy100
mat240

In [ ]:
# Conditionals

# if Condition:
    #DO SOMETHING
# elif Condition:
    #DO something
# else:
    #DO SOME OTHER THING

In [69]:
24 % 2

0

In [71]:
#Print even or odd for each integer
integers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for index in range(len(integers)):
    if integers[index] % 2 == 0:
        print(str(integers[index]) + ": Even")
    else:
        print(str(integers[index]) + ": Odd")

1: Odd
2: Even
3: Odd
4: Even
5: Odd
6: Even
7: Odd
8: Even
9: Odd
10: Even

In [73]:
class_list = ["csc207"] + class_list

In [74]:
class_list

['csc207', 'eco100', 'mat137', 'csc108', 'psy100', 'mat240']

In [82]:
#print only 2nd year courses
for c in class_list:
    if c[3] == 2:
        print(c)
#     else:
#         #do nothing

In [78]:
class_list[0][3]

'2'

In [80]:
class_list[0]

'csc207'

In [76]:
len(class_list[0])

6

In [83]:
"2" == 2

False

In [87]:
class_list[0][3]

'2'

In [88]:
int(class_list[0][3]) == 2

True

In [89]:
import numpy as np

In [101]:
arr1 = np.array([1, 2, 3, 4, 5])

In [102]:
arr2 = np.array([6, 7, 8, 9, 10])

In [103]:
arr1 + arr2

array([ 7,  9, 11, 13, 15])

In [ ]:
# Cell to demo what the above code does

In [104]:
[1, 2, 3, 4, 5] + [6, 7, 8, 9, 10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Add more code cells to keep a record of the demos

In [111]:
# Monte Hall Simulation Code -- not the only way to code this, but it's what Prof. Schwartz came up with...

import numpy as np
all_door_options = (1,2,3)  # tuple
my_door_choice = 1  # 1,2,3
i_won = 0 # counter for the number of times we won
reps = 1000000
for i in range(reps):
    secret_winning_door = np.random.choice(all_door_options)
    all_door_options_list = list(all_door_options)
    # take the secret_winning_door, so we don't show it as a "goat" losing door
    all_door_options_list.remove(secret_winning_door)
    try:
        # if my_door_choice was secret_winning_door then it's already removed
        all_door_options_list.remove(my_door_choice)
    except:
        pass
    # show a "goat" losing door and remove it
    goat_door_reveal = np.random.choice(all_door_options_list)
    all_door_options_list.remove(goat_door_reveal)

    # put the secret_winning_door back in if it wasn't our choice
    # we previously removed it, so it would be shown as a  "goat" losing door
    if secret_winning_door != my_door_choice:
        all_door_options_list.append(secret_winning_door)
    # if secret_winning_door was our choice then all that's left in the list is a "goat" losing door
    # if secret_winning_door wasn't our choice then it's all that will be left in the list

    # swap strategy
    my_door_choice = all_door_options_list[0]

    if my_door_choice == secret_winning_door:
        i_won = i_won +  1

print(i_won/reps)

0.667217

## üí¨ üó£Ô∏è Communication [40 minutes]
    
#### 1. **[5 of the 40 minutes]** Quickly execute the "rule of 5" and take 5 minutes to break into 5 new groups of about 5 students and assign the following 5 questions to the 5 groups (and note that this instruction uses fives 5's üòâ). Consider allowing students to preferentially select which group they join by calling for volunteers for each prompt, and feel free to use 5 minutes from the next (dicussion) sections doing so if you choose to (since this could be viewed as being a part of the "discussion").

> *For each of the prompts, groups should consider the pros and cons of two options, the potential impact of a decision to persue one of the options, and how they take into account how uncertainty influences their thinking about the options.<br><br>*
>
> <details class="details-example"><summary style="color:blue"><u>Further Guidance</u></summary>
>     
> I asked a ChatBot to create a group activity for you that was related to decision-making under uncertainty using probability, and it produced the following questions. 
> 
> *This is a little bit like one of the ideas in the "Afterward" of HW01 asking a ChatBot to suggest and explain some other, perhaps less well-known "unintuitive surprising statistics paradoxes" (besides the "World War 2 Plane" and "Monte Hall" problems)*
>
> </details>

1. **Stock Investment Strategy:** Students are investors trying to maximize their returns in the stock market. They must decide between two investment strategies: "diversified portfolio" or "focused portfolio." Each strategy has different probabilities of success based on market conditions.<br><br>
    
    1. Diversified Portfolio: Spread investments across multiple industries.
    2. Focused Portfolio: Concentrate investments in a few high-potential stocks.<br><br>
        
2. **Healthcare Treatment Decision:** Students are healthcare professionals deciding between two treatment options for a patient's condition. Each treatment has different success rates and potential side effects.<br><br>
    
    1. Treatment A: High success rate but moderate side effects.
    2. Treatment B: Lower success rate but minimal side effects.<br><br>
        
3. **Sports Team Strategy:** Students are coaches of a sports team planning their game strategy. They must decide between two tactics: "offensive strategy" or "defensive strategy." Each strategy has different probabilities of winning based on the opponent's strengths and weaknesses.<br><br>
    
    1. Offensive Strategy: Focus on scoring goals/points aggressively.
    2. Defensive Strategy: Prioritize defense to prevent the opponent from scoring.<br><br>
        
4. **Career Path Decision:** Students are recent graduates deciding between two career paths: "corporate job" or "entrepreneurship." Each path has different probabilities of success and factors to consider, such as job security, income potential, and work-life balance.<br><br>
    
    1. Corporate Job: Stable income but limited growth opportunities.
    2. Entrepreneurship: Higher potential for success but greater risk and uncertainty.<br><br>
        
5. **Environmental Conservation Strategy:** Students are environmental activists advocating for conservation efforts in a wildlife reserve. They must decide between two conservation strategies: "habitat preservation" or "species reintroduction." Each strategy has different probabilities of achieving long-term sustainability for the ecosystem.<br><br>
    
    1. Habitat Preservation: Protect existing habitats from human encroachment.
    2. Species Reintroduction: Reintroduce endangered species to restore ecological balance.


#### 2. **[15 to 20 of the 40 minutes]** Each group plans and prepares a brief (approximately 3 minute) summary (a) introducing their problem context and (b) outlining their decision and the rationale behind it. The group presentations should address

1. the expected outcomes of their decision
2. the risks involved
3. and why they believe their choice is the best in light of their characterization of the degree uncertainty present in their context 

#### 3. **[15 to 20 of the 40 minutes]** Each group gives their (approximately 3 minute) planned presentation. If time permits, engaging in some (students or TA) Q&A seeking clarification or challenging group decisions would be ideal.

Groups who manage to plan a presentation where multiple group members actively part of the presentation should be awarded "gold stars", figuratively, of course, since actualy gold, or stars, of gold star stickers are unfortunately momentarily in short supply